/* COMMON */
body {
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
}

.ms_color_white {
    color: white;
}

.ms_section_padd {
    padding: 5rem 0 4rem;
}

.ms_h2-title {
    font-size: 40px;
    padding-bottom: 1.3rem;
}

.ms_grey_text {
    font-size: 18px;
    color: #797979;
    font-weight: 600;
}

/* HEADER */
header {
    font-family: Helvetica, arial, sans-serif;
    background-color: lightblue;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
/* Header-top */
.ms_header_top {
    height: 35px;
    background-color: black;
    padding-right: 10px;
}
/* sony logo */
.ms_header_top img {
    width: 4.5rem;
}
/* Header-bottom */
/* navigation-area */
.bg-light {
    background-color: white!important;
}
.navbar-light .navbar-nav .nav-link {
    color: black
}
/* .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
} */

/* MAIN */
main {
    padding-top: 100px;
}
/* RETURNAL SECTION */
.ms_returnal-section {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15.8rem;
    padding-bottom: 3.5rem;
}
/* returnal-logo */
.ms_returnal-content img {
    width: 18rem;
}
.ms_returnal-content h2 {
    font-size: 38px;
    padding: 1.5rem 0;
}
/* orange-button */
.ms_orange_btn {
    color: white;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    margin-top: 1rem;
}

/* PS5-GAMES SECTION */
#ms_ps5-games {
    padding: 2rem 0;
}
#ms_ps5-games img {
    border-radius: 1rem;
}
.ms_padd-ps5games {
    padding: 1px;
}
#ms_ps5-games .ms_blue-border {
    border: 3px solid #0072ce;
    border-radius: 1rem;
}
#ms_ps5-games .ms_me-ps5games {
    margin-bottom: 22px;
}

/* PLAY-HAS-NO-LIMITS SECTION */
.ms_no_limits-content div:first-child {
    color: #0072ce;
    font-size: 14px;
    font-weight: 600;
}

/* PS5-CONSOLE SECTION */
.ms_blue_btn {
    color: #fff;
    background-color: #2d64e6;
    border-color: #2d64e6;
    margin-top: 2rem;  
}

/* PS5-ACCESSORIES SECTION */
#ms_accessories_section {
    padding: 1rem 0 1.8rem;
}
.ms_ps5_accessories > * {
    opacity: 0.7;
}
.ms_ps5_accessories .ms_ps5_img {
    opacity: unset;
}
.ms_ps5_accessories .ms_ps5_img::after {
    content: "";
    width: 100%;
    height: 2.1px;
    display: inline-block;
    background-color: #0f7ad1;
}
.ms_tablet-desktop_text {
    display: none;
}
.ms_ps5_accessories .ms_trade-element {
    vertical-align: text-top;
    font-size: 15px;
}
.ms_ps5_accessories .ms_2ndtrade-element {
    vertical-align: middle;
    font-size: 15px;
}

/* IT-TAKES-TWO SECTION */
.ms_it_takes_two-section {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/* it-takes-two logo */
.ms_it_takes_two-content img {
    width: 18rem;
}
.ms_it_takes_two-content h2 {
    font-size: 38px;
    padding: 1.5rem 0;
}

/* NEW-RELEASES SECTION */
#ms_new_releases {
    background-color: #1f1f1f;
    padding: 2rem 0 2.7rem;
}
#ms_new_releases h3 {
    font-size: 2rem;
    padding-bottom: 0.7rem;
}
#ms_new_releases h4 {
    font-size: 24px;
}
#ms_new_releases .ms_me-new-games > * {
    margin-bottom: 2rem;
}
#ms_new_releases img {
    border-radius: 30px;
    padding: 15px 0 10px;
}
#ms_new_releases .ms_tony-trade {
    font-size: 14px;
    vertical-align: text-top;
}
#ms_new_releases .ms_skater-trade {
    vertical-align: middle;
    font-size: 14px;
}

/* PS4-EXPLORE SECTION */
.ms_ps4_explore-content .ms_reg-element {
    font-size: 20px;
    vertical-align: 10px;
}


/* MEDIA QUERIS */
/* md breakpoint */
@media screen and (min-width: 768px) {
    /* RETURNAL SECTION */
    /* returnal-logo */
    .ms_returnal-content img {
        width: 25rem;
    }
    /* PS5-ACCESSORIES SECTION */
    .ms_tablet-desktop_text {
        display: block;
    }
    .ms_ps5_accessories img {
        width: 4rem;
        padding-bottom: 0.7rem;
        margin-top: 3.2rem;
    }
    .ms_ps5_accessories .ms_ps5_img::after {
        margin-top: 3.2rem;
    }
    /* IT-TAKES-TWO SECTION */
    /* it-takes-two logo */
    .ms_it_takes_two-content img {
        width: 26rem;
    }
}
/* lg breakpoint */
@media screen and (min-width: 992px) {
    /* RETURNAL SECTION */
    .ms_returnal-content {
        max-width: 380px;
    }
    /* returnal-logo */
    .ms_returnal-content img {
        width: 13rem;
    }
    /* PS5-ACCESSORIES SECTION */
    .ms_ps5_accessories img {
        width: 6rem;
        margin-top: 2rem;
    }
    .ms_ps5_accessories .ms_ps5_img::after {
        margin-top: 1.7rem;
    }
    /* IT-TAKES-TWO SECTION */
    .ms_it_takes_two-content {
        max-width: 360px;
    }
    /* it-takes-two logo */
    .ms_it_takes_two-content img {
        width: 15rem;
    }
}

