/* COMMON */
body {
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
}

.ms_color_white {
    color: white;
}
/* HEADER */
header {
    font-family: Helvetica, arial, sans-serif;
    background-color: lightblue;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
/* Header-top */
.ms_header_top {
    height: 35px;
    background-color: black;
    padding-right: 10px;
}
/* sony logo */
.ms_header_top img {
    width: 4.5rem;
}
/* Header-bottom */
/* navigation-area */
.bg-light {
    background-color: white!important;
}
.navbar-light .navbar-nav .nav-link {
    color: black
}
/* .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
} */

/* MAIN */
main {
    padding-top: 100px;
}
/* Returnal section */
.ms_returnal-section {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20rem;
    padding-bottom: 3rem;
}
/* returnal-logo */
.ms_returnal-content img {
    width: 16rem;
}
.ms_returnal-content h2 {
    font-size: 38px;
    padding: 1.5rem 0;
}
/* orange-button */
.ms_orange_btn {
    color: white;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    margin-top: 1rem;
}

/* PS5-GAMES SECTION */
#ms_ps5-games {
    padding: 2rem 0;
}
#ms_ps5-games img {
    border-radius: 1rem;
}
.ms_padd-ps5games {
    padding: 1px;
}
#ms_ps5-games .ms_blue-border {
    border: 3px solid #0072ce;
    border-radius: 1rem;
}
#ms_ps5-games .ms_me-ps5games {
    margin-bottom: 22px;
}
/* PLAY-HAS-NO-LIMITS SECTION */
#ms_play_no_limits {
    padding: 5rem 0 4rem;
}
.ms_no_limits-content div:first-child {
    color: #0072ce;
    font-size: 14px;
    font-weight: 600;
}
.ms_no_limits-content h2 {
    font-size: 40px;
    padding-bottom: 1.3rem;
}
.ms_no_limits-content div:nth-child(3) {
    font-size: 18px;
    color: #797979;
    font-weight: 600;
}
/* MEDIA QUERIS */
/* md breakpoint */
@media screen and (min-width: 768px) {
    /* Returnal section */
    /* returnal-logo */
    .ms_returnal-content img {
        width: 25rem;
    }
}
/* lg breakpoint */
@media screen and (min-width: 992px) {
    /* Returnal-section */
    .ms_returnal-content {
        max-width: 380px;
    }
    /* returnal-logo */
    .ms_returnal-content img {
        width: 13rem;
    }
}

